:root {
  --sidebar-width: 375px;
}

.light {
  --sidebar-bg: #f6f6f6;
  --sidebar-active: #af5c02;
  --scrollbar: #a6a6a6;
  --icons: #a6a6a6;
  --icons-hover: #404040;
  --links: #af5c02;
  --fg: #574F4A;
  --inline-code-color: #f6f6f6;
  --quote-bg: #f6f6f6;
  --quote-border: #e2e2e2;
  --table-header-bg: #e2e2e2;
  --table-alternate-bg: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
    --sidebar-active: #faa41a;

    --links: #faa41a;
  }
}

.light .content {
  margin: 0;
  padding: 0;
}

.light main,
.light .content p {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.light main hr {
  height: 0;
  border-color: #e2e2e2;
  border-top-width: 1px;
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  color: inherit;
}

.light main ul,
.light main ol{
  list-style: none;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 0;
}

.light main li {
  padding-left: 1.75em;
  position: relative;
}

.light main ul li::before {
  content: "";
  position: absolute;
  background-color: #bfbfbf;
  border-radius: 50%;
  width: .375em;
  height: .375em;
  top: calc(.875em - .1875em);
  left: .25em;
}

.light main table {
  font-size: .875em;
  line-height: 1.7142857;
  width: 100%;
  margin: 2em 0;
}

.light main td,
.light main th {
  text-align: left;
  padding: .5em;
}

.light main blockquote {
  font-weight: 500;
  font-style: italic;
}

.light main strong {
  color: #080808;
}

.light main kbd {
  background-color: #000;
  border-color: #272727;
  border-radius: .25rem;
  border-width: 1px;
  color: #f6f6f6;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: .5rem;
}

.light main code {
  border-radius: 4px;
  font-size: .9em;
}

.light main pre button {
  color: var(--inline-code-color);
}

.light h2,
.light h3,
.light h4 {
  margin-top: 0;
}

.light main h1 {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;
}

.light main h2 {
  font-family: var(--font-family-slab);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  margin-top: 1.6em;
  margin-bottom: .8888889em;
}

.light main h3 {
  font-family: var(--font-family-slab);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 1.5em;
  margin-bottom: .6666667em;
}

.light main h4 {
  font-family: var(--font-family-slab);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 1.4285714em;
  margin-bottom: .5714286em;
}

.light main h5 {
  font-family: var(--font-family-slab);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.light main h6 {
  font-family: var(--font-family-slab);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.light main li {
  margin-top: .5em;
  margin-bottom: .5em;
}

@media (width >= 640px) {

  .light main,
  .light .content p {
    font-size: 18px;
    line-height: 32px;
  }

  .light main h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .light main h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .light main h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .light main h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .light main h5 {
    font-size: 20px;
    line-height: 24px;
  }

  .light main h6 {
    font-size: 16px;
    line-height: 20px;
  }

}

@media (width >= 1280px) {

  .light main,
  .light .content p {
    font-size: 20px;
    line-height: 36px;
  }

  .light main h1 {
    font-size: 48px;
    line-height: 54px;
  }

  .light main h2 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 1.55em;
    margin-bottom: .8em;
  }

  .light main h3 {
    margin-top: 1.6em;
    font-size: 32px;
    line-height: 48px;
    margin-top: 1.6em;
  }

  .light main h4 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 1.8em;
    margin-bottom: .6em;
  }

  .light main h5 {
    font-size: 24px;
    line-height: 28px;
  }

  .light main h6 {
    font-size: 20px;
    line-height: 24px;
  }

  .light main li {
    margin-top: .6em;
    margin-bottom: .6em;
  }
}